// Стилі для чуйних картинок (IBG)
// Сніппет (HTML): ibg (div з картинкою та класами)
// Сніппет (HTML): ibga (a з картинкою та класами)
[class*="-ibg"] {
  position: relative;
  img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
  }
}
[class*="-ibg_contain"] {
  img {
    object-fit: contain;
  }
}

// Шаблони (заготівлі)
// @extend %ім'я шаблону;
// Сніппет (SCSS): ex

// Лічильник для списку
%listCounter {
  list-style-type: none;
  counter-reset: item;
  li {
    position: relative;
    &:before {
      counter-increment: item;
      content: counter(item);
      position: absolute;
      left: 0;
      top: 0;
    }
  }
}
// Адаптивне відео
%responsiveVideo {
  position: relative;
  overflow: hidden;
  height: 0;
  padding-bottom: 56.25%;
  video,
  iframe,
  object,
  embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
// Відео як фон
%videoBackground {
  video,
  iframe,
  object,
  embed {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
  }
}
// Сірий фільтр
%grayfilter {
  transition: all 0.3s ease 0s;
  filter: grayscale(1);
  @media (any-hover: hover) {
    &:hover {
      filter: grayscale(0);
    }
  }
}
// Скасувати виділення
%noselect {
  user-select: none;
}
// Дзеркальне відображення
%mirror {
  transform: scale(-1, 1);
}
// Плавний скролл
%smoothscroll {
  -webkit-overflow-scrolling: touch;
}
// Сховати скролл
%hidescroll {
  &::-webkit-scrollbar {
    display: none;
  }
}

.authform {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(28, 55, 123);
  height: 100vh;
  color: #fff;
  text-align: center;
  &__title {
    font-size: 52px;
    font-weight: bold;
    margin-bottom: 50px;
  }
  &__subtitle {
    font-size: 22px;
    margin-bottom: 20px;
  }
  &__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__input {
    display: block;
    padding: 8px 20px;
    &:not(:last-child) {
      margin-bottom: 15px;
    }
  }
  &__text {
    margin-top: 20px;
  }
  &__link {
    text-transform: uppercase;
    color: #90f4ff;
    margin-left: 7px;
  }
}

.buttons {
  background-color: rgb(55, 112, 255);
  color: #fff;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  &:hover {
    background-color: rgb(102, 146, 255);
    color: rgb(24, 50, 115);
  }
}

.links {
  color: rgb(164, 190, 255);
  &:hover {
    text-decoration: underline;
  }
}

.link-home {
  display: inline-block;
  font-size: 14px;
  text-transform: none;
  margin: 0 0 15px 0;
}

.content {
  height: 100%;
  &__wrapper {
    display: flex;
    justify-content: space-between;
    height: 100%;
  }
}

.middle-content {
  flex: 1 1 auto;
  background-color: rgb(193, 211, 255);
  padding: 30px 10px;
  &__wrapper {
    height: 100%;
  }
  &__title {
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 20px;
  }
}
